@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
body{
    background-color: #F9F9F9;
    height: auto;
}
.container{
    max-width: 1250px;
    margin: 0 auto;
    width: 100%;
    @media (max-width: 1255px) {
        max-width: 887px;
    }
    @media (max-width: 887px) {
        padding: 0px 30px;
    }
}    
.header{
    position: relative;
        .container{
        display: flex;
        justify-content: space-between;
        padding-top: 48px;
        align-items: center;
        padding-bottom: 26.4px;
        border-bottom: 1px solid #CBCBCB;
        }
        .logo-nav{
            display: flex;
            gap: 103px;
        }
        .logo{
            display: flex;
            gap: 11px;
            background-color: rgb(255, 255, 255);
            &__url{
                display: flex;
                align-items: center;
                background-color: #F9F9F9;
            }
            &__url-text{
                color: #6C5FBC;
                font-size: 21.18px;
                font-weight: 600;
                line-height: 130%;
                padding-left: 11px;
                font-family: "Poppins";
            }
        }
        .nav{
        display: flex;
        gap: 53.49px;
        align-items: center;
            &__link{
                color: #606060;
                font-weight: 500;
                font-size: 17.83px;
                font-family: "Inter";
                &:hover {
                    color: #6C5FBC;}
            }
        }
        .actions{
            &__url--login{
                font-family: "Inter";
                font-weight: 700;
                font-size: 17.83px;
                color: #606060;
                padding: 17.83px 26.74px;
                margin-right: 8.91px;
            }
            &__url--sign-up{
                font-family: "Inter";
                font-weight: 700;
                font-size: 17.83px;
                color: #F9F9F9;
                padding: 17.83px 26.74px;
                background-color: #6C5FBC;
                border-radius: 17.83px;
            }
        }
       .menu-toggle {
            display: none;
          
            &:checked ~ .mobile-menu {
              display: flex;
            }
          }
          .burger {
            display: none;
            flex-direction: column;
            justify-content: space-between;
            width: 24px;
            height: 18px;
            cursor: pointer;
            span {
              height: 3px;
              background: #606060;
              border-radius: 2px;
            }
          }
          .mobile-menu {
            display: none;
            flex-direction: column;
            align-items: center;
            background-color: #F9F9F9;
            padding: 20px;
            border-top: 1px solid #CBCBCB;
            position: absolute; 
            top: 100%;
            left: 0;
            width: 100%;
            z-index: 999; 
            ul {
              list-style: none;
              padding: 0;
              margin: 0;
              display: flex;
              flex-direction: column;
              align-items: center;
              li {
                margin-bottom: 15px;
                a {
                  color: #606060;
                  font-family: "Inter";
                  font-size: 17px;
                  font-weight: 500;
                  text-decoration: none;
                  transition: color 0.3s ease;
                  &:hover {
                    color: #6C5FBC;
                  }
                }
                &:nth-last-child(2) a {
                  font-weight: 700;
                  color: #606060;
                }
                &:last-child a {
                  font-weight: 700;
                  padding: 5px 15px;
                  background-color: #6C5FBC;
                  border-radius: 17.83px;
                  color: #F9F9F9;
                }
              }
            }
          }
          @media (max-width: 887px) {
            .nav,
            .actions {
              display: none;
            }
            .burger {
              display: flex;
            }
          }
          .menu-toggle:checked ~ .mobile-menu {
            display: flex;
          }
    } 
    .registration{
        .container{ 
        display: flex;
        gap: 37px;
        padding-top: 48px;
        padding-bottom: 85px;
        align-items: center;
        @media (max-width: 887px) {
            flex-direction: column;
            align-items: center;
            padding-bottom: 78px;
          }
        }
        &__content{
            display: flex;
            flex-direction: column;
            @media (max-width: 1250px) {
                max-width: 50%;
              }
              @media (max-width: 887px) {
                min-width: 100%;
                align-items: center;
              }
        }
        &__subtitle-box{
            display: flex;
            gap: 20px;
            align-items: center;
        }
        &__subtitle-line{
            height: 1px;
            width: 54px;
        }
        &__subtitle{
            font-family: "Poppins";
            color: #201F1F33;
            font-weight: 600;
            font-size: 15px;
            letter-spacing: 2px;
            line-height: 120%;
            @media (max-width: 887px) {
                font-size: 9px;
            letter-spacing: 1px;
              }
        }
        &__title{
            padding-top: 18px;
            font-family: "Poppins";
            font-weight: 600;
            font-size: 75px;
            line-height: 120%;
            letter-spacing: -3px;
            color: #000000;
            @media (max-width: 1250px) {
                font-size: 55px;
              }
              @media (max-width: 887px) {
                font-size: 46px;
            letter-spacing: -2px;
            text-align: center;
              }
              &--purple{
                color: #6C5FBC;
            }
        }
        &__title-none{
            @media (max-width: 887px) {
            display: none;
              }
        }
        &__description{
            font-family: "Inter";
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            color: #676767b5;
            padding: 16px 66px 53px 3px;
            &--purple{
                color: #6b5fbcd1;
            }
            @media (max-width: 1250px) {
                font-size: 13px;
                line-height:20px; 
              }
              @media (max-width: 887px) {
                font-size: 11px;
                letter-spacing: 0;
                text-align: center;
                padding: 0;
                padding-bottom: 41px;
              }
        }
        &__buttons{
            display: flex;
            gap: 18px;
            padding-bottom: 33px;
            @media (max-width: 887px) {
                gap: 14px;
                padding-bottom: 26px;
              }
        }   
        &__button{
            &--primary{
                color: #FFFFFF;
                background-color: #6C5FBC;
                padding: 18px 31px 17px 30px;
                border-radius: 12.41px;
                font-family: "Poppins";
                font-weight: 500;
                font-size: 16.27px;
                letter-spacing: 1%;
                @media (max-width: 887px) {
                    font-size: 13px;
                    letter-spacing: 1%;
                    text-align: center;
                    padding: 13px 24px;
                  }
            }
            &--secondary{
                color: #6C5FBC;
                padding: 18px 28px 17px 27px;
                border-radius: 12.41px;
                border: 1.5px solid #6C5FBC;
                font-family: "Poppins";
                font-weight: 500;
                font-size: 16.27px;
                letter-spacing: 1%;
                @media (max-width: 887px) {
                    font-size: 13px;
                    letter-spacing: 1%;
                    text-align: center;
                    padding: 13px 24px;
                  }
            }
        }
        &__rating-logo{
            min-width: 301px;
            min-height: 31px;
            @media (max-width: 887px) {
                min-width: 100%;
                min-height: 100%;
                padding: 0 46px;

              }
        }
        &__image-img{
            @media (max-width: 1250px) {
                max-width: 100%;
              }
        }
    }
    .stats{
        background-image: url(./svg/background_stats.svg);
        @media (max-width: 887px) {
            background-size: cover;
            background-position: center;
        }
        .container{
        display: flex;
        justify-content: center;
        gap: 132px;
        @media (max-width: 1255px) {
            gap: 93px;
        }
        @media (max-width: 887px) {
            flex-direction: column;
            gap: 0;
            padding: 30px 0;
        }
        }
        &__item{
            display: flex;
            flex-direction: column;
            text-align: center;
            padding-top: 57px;
            padding-bottom: 54.7px;
            @media (max-width: 1255px) {
                padding: 40px 0;
            }
        }
        &__number{
            font-family: "Public Sans";
            font-weight: 700;
            font-size: 43.2px;
            line-height: 54px;
            color: #FFFFFF;
            @media (max-width: 1255px) {
                font-size: 31px;
            line-height: 38px;
            }   
        }
        &__description{
            font-family: "Inter";
            font-weight: 500;
            font-size: 14.4px;
            line-height: 21.6px;
            color: #C5BFED;
            @media (max-width: 1255px) {
                font-size: 10px;
            line-height: 16px;
            }  
        }
    }   
    .quality{
        .container{ 
        display: flex;
        padding-top: 103.5px;
        padding-bottom: 120px;
        border-bottom: 1px solid #CBCBCB;
        align-items: center;
        @media (max-width: 1255px) {
            padding-bottom: 80px;
            padding-top: 85px;
        }
        @media (max-width: 887px) {
            flex-direction: column-reverse;  
            padding-top: 85px;
            padding-bottom: 66px;
        }
        }
        &__image-wrapper{
            margin-left: 112px;
            margin-right: 219px;
            @media (max-width: 1255px) {
                margin-left: 80px;
                margin-right: 156px;
                min-width: 264px;
            }
            @media (max-width: 887px) {
                margin-left: 0;
                margin-right: 0;
                min-width: 170px;
              }
        }
        &__image{
            
            @media (max-width: 1255px) {
                width: 100%;
              }
              @media (max-width: 887px) {
                width: 170px;
              }
        }
        &__content{
            display: flex;
            flex-direction: column;
            margin-right: 22px;
            @media (max-width: 1255px) {
                margin-right: 16px;
              }
              @media (max-width: 887px) {
                align-items: center;
            }
        }
        &__title{
            font-family: "Poppins";
            font-weight: 700;
            font-size: 50.92px;
            line-height: 58.2px;
            color: #18181B;
            padding-bottom: 63.06px;
            &--purple{
                color: #6C5FBC;
            }
            @media (max-width: 1250px) {
                font-size: 36px;
                line-height: 41px;
                padding-bottom: 45px;
              }
              @media (max-width: 887px) {
                font-size: 28px;
                line-height: 34px;
                text-align: center;
                padding-bottom: 37px;
              }  
        }
        &__description{
            font-family: "Inter";
            font-weight: 400;
            font-size: 20.33px;
            line-height: 30.5px;
            padding-bottom: 27.94px;
            color: #676767;
            @media (max-width: 1250px) {
                font-size: 14px;
                line-height: 21px;
                padding-bottom: 19px;
              }
              @media (max-width: 887px) {
                font-size: 10px;
                line-height: 18px;
                padding-bottom: 16px;
              } 
        }
        &__button-link{
            display: flex;
            align-items: center;
            max-width: 186px;
            background-color: #6C5FBC;
            border-radius: 14.68px;
            position: relative;
            @media (max-width: 887px) {
                width: 121px;
                margin-bottom: 100px;
              }
        }
        &__decor{
            position: absolute;
            top: 60px;
            left: -70px;
            @media (max-width: 887px) {
                transform: rotate(110deg);
                width: 101px;
              }
        }
        &__button-name{
            font-family: "Poppins";
            font-size: 18.06px;
            line-height: 22.58px;
            font-weight: 500;
            color: #ffffff;
            padding: 20px 14.91px 20px 26px;
            @media (max-width: 887px) {
                font-size: 12px;
                line-height: 15px ;
                padding: 13px 17px;
              }
        }
        &__button-icon{
            color: #FFFFFF;
        }
    }
    .restaurants{
        .container{
        padding-bottom: 120px;
        border-bottom: 1px solid #CBCBCB;
        @media (max-width: 1255px) {
            padding-bottom: 80px;
        }
        @media (max-width: 887px) {
            padding-bottom: 66px;
        }
        }
        &__title{
            font-family: "Poppins";
            font-weight: 600;
            font-size: 45px;
            line-height: 25.56px;
            padding: 100px 0px 85.6px 0px;
            text-align: center;
            @media (max-width: 1255px) {
                padding-top: 70px;
                padding-bottom: 60px;
            }
            @media (max-width: 887px) {
                font-size: 30px;
                line-height: 120%;
                padding: 84px 0px 59px 0px;
            }
            &--purple{
                color: #6C5FBC;
            }
        }
        &__list{
            display: flex;
            gap: 30.37px;
            padding-bottom:66px;
            @media (max-width: 1250px) {
                max-width: 100%;
                padding-bottom:46px;
              }
              @media (max-width: 887px) {
                flex-direction: column;
                padding-bottom:61px;
            }
        }
        &__link{
            display: flex;
            align-items: center;
            gap: 20px;
            justify-content: end;
            font-family: "Poppins";
            font-weight: 500;
            font-size: 20px;
            line-height: 45.18px;
            letter-spacing: -0.1px;
            color: #ACADB9;
            @media (max-width: 1255px) {
                font-size: 14px;
                line-height: 32px;
                letter-spacing: -0.7px;
                gap: 14px;
            }
            @media (max-width: 887px) {
                font-size: 20px;
                line-height: 45px;
                letter-spacing: -0.1px;
                gap: 20px;
            }
        }
        &__link-icon{
            @media (max-width: 1255px) {
                height: 12px;
            }
            @media (max-width: 887px) {
                height: 16px;
            }
        }
        .restaurant-card{
            display: flex;
            flex-direction: column;
            background-color: #FFFFFF;
            border-radius: 30.02px;
            border: 1.25px solid #F4F4F6;
            &__tag--healthy{
                padding: 3.06px 8.21px 1.86px 8.64px;
                font-family: "Poppins";
                font-weight: 400;
                font-size: 12.78px;
                line-height: 100%;
                color: #DAA31A;
                background-color: #F7EDD0;
                width: fit-content;
                border-radius: 5.4px;
                margin: 10.93px 0px 0px 32.8px;
                @media (max-width: 887px) {
                    font-size: 10px;
                    line-height: 100%;
                    margin-left: 27px;
                }
            }
            &__tag--trending{
                padding: 3.06px 8.21px 1.86px 8.64px;
                font-family: "Poppins";
                font-weight: 400;
                font-size: 12.78px;
                line-height: 100%;
                color: #FB471D;
                background-color: #F7C5BA;
                width: fit-content;
                border-radius: 5.4px;
                margin: 10.93px 0px 0px 32.8px;
            }
            &__logo{
                width: 100%;
            }
            &__name{
                font-family: "Poppins";
                font-weight: 600;
                font-size: 25.79px;
                line-height: 41.9px;
                color: #323142;
                padding-left: 37.07px;
                @media (max-width: 887px) {
                    font-size: 20px;
                    line-height: 33px;
                    padding-left: 27px;
                }
            }
            &__info{
                display: flex;
                align-items: center;
                padding-left: 34.07px;
                padding-right: 27px;
                padding-bottom: 17.98px;
                justify-content: space-between;
                @media (max-width: 887px) {
                    padding-left: 27px;
                    padding-right: 21px;
                }
            }
            &__content{
                display: flex;
                gap: 6.45px;
                align-items: center;
            }
            &__time{
                font-family: "Manrope";
                font-weight: 400;
                font-size: 19.34px;
                line-height: 25.79px;
                color: #8E97A6;
                @media (max-width: 887px) {
                    font-size: 15px;
                    line-height: 20px;
                }
            }
            &__rating{
                font-family: "Manrope";
                font-weight: 400;
                font-size: 19.34px;
                line-height: 25.79px;
                color: #8E97A6;
                @media (max-width: 887px) {
                    font-size: 15px;
                    line-height: 20px;
                }
            }
            &__star{
                @media (max-width: 887px) {
                    height: 20px;
                }
            }
        }
    }
    .dishes{
        .container{
            padding-bottom: 120px;
            border-bottom: 1px solid #CBCBCB;
            @media (max-width: 1255px) {
                padding-bottom: 85px;
            }
        }
        &__title{
            font-family: "Poppins";
            font-weight: 600;
            font-size: 45px;
            line-height: 25.56px;
            padding: 100px 0px 75.88px 0px;
            text-align: center;
            @media (max-width: 1255px) {
                padding-top: 70px;
                padding-bottom: 50px;
            }
            @media (max-width: 887px) {
                font-size: 30px;
                line-height: 120%;
                padding: 85px 50px 61px 50px;
            }
            &--purple{
                color: #6C5FBC;
            }
        } 
        &__list{
            display: flex;
            gap: 30.65px;
            padding-bottom: 66px;
            @media (max-width: 1255px) {
                gap: 20px;
                padding-bottom: 46px;
            }
            @media (max-width: 887px) {
                flex-wrap: wrap;
                gap: 10px;
                justify-content: center;
            }
        }
        &__view-all{
            display: flex;
            align-items: center;
            gap: 20px;
            justify-content: end;
            font-family: "Poppins";
            font-weight: 500;
            font-size: 20px;
            line-height: 45.18px;
            letter-spacing: -0.1px;
            color: #ACADB9;
            @media (max-width: 1255px) {
                font-size: 14px;
                line-height: 32px;
                letter-spacing: -0.7px;
                gap: 14px;
            }
            @media (max-width: 887px) {
                font-size: 20px;
                line-height: 45px;
                letter-spacing: -0.1px;
                gap: 20px;
            }
        }
        &__view-all-icon{
            @media (max-width: 1255px) {
                height: 12px;
            }
            @media (max-width: 887px) {
                height: 16px;
            }
        }
        &__item{
            display: flex;
            flex-direction: column;
            background-color: #FFFFFF;
            border-radius: 34.58px;
            border: 1.44px solid #F4F4F6;
            position: relative;
            @media (max-width: 887px) {
                &:last-child{
                display: none;
            }
            width: 47%;
            }
        }
        &__favorite-wrapper{
            position: absolute;
            right: 21.72px;
            top: 23.79px;
        }
        &__favorite{
            &:hover path{
                fill: red;
            }
        }
        &__rating-icon{
            &:hover {
                color: #6C5FBC;}
                @media (max-width: 1255px) {
                    width: 11px;
                }
        }
        &__category--healthy{
            padding: 2.74px 7.34px 1.66px 7.72px;
            font-family: "Poppins";
            font-weight: 400;
            font-size: 11.42px;
            line-height: 100%;
            color: #DAA31A;
            background-color: #F7EDD0;
            width: fit-content;
            border-radius: 4.83px;
            margin: 0px 0px 0px 21.92px;
            @media (max-width: 1255px) {
                margin: 0px 0px 0px 16px;
            }
            @media (max-width: 887px) {
                font-size: 7px;
                margin-left: 17px;
                padding: 2px 5px;
            }
        }
        &__category--trending{
            padding: 2.74px 7.34px 1.66px 7.72px;
            font-family: "Poppins";
            font-weight: 400;
            font-size: 11.42px;
            line-height: 100%;
            color: #FB471D;
            background-color: #F7C5BA;
            width: fit-content;
            border-radius: 4.83px;
            margin: 0px 0px 0px 21.92px;
            @media (max-width: 1255px) {
                margin: 0px 0px 0px 16px;
            }
            @media (max-width: 887px) {
                font-size: 7px;
                margin-left: 17px;
                padding: 2px 5px;
            }
        }
        &__category--supreme{
            padding: 2.74px 7.34px 1.66px 7.72px;
            font-family: "Poppins";
            font-weight: 400;
            font-size: 11.42px;
            line-height: 100%;
            color: #309D5B;
            background-color: #abe9c4;
            width: fit-content;
            border-radius: 4.83px;
            margin: 0px 0px 0px 21.92px;
            @media (max-width: 1255px) {
                margin: 0px 0px 0px 16px;
            }
            @media (max-width: 887px) {
                font-size: 7px;
                margin-left: 17px;
                padding: 2px 5px;
            }
        }
        &__image{
            width: 100%;
            padding: 36.98px 24.65px 2.74px 15.07px;
        }
        &__name{
            font-family: "Poppins";
            font-weight: 600;
            font-size: 23.05px;
            line-height: 37.46px;
            color: #323142;
            padding-left: 23.05px;
            @media (max-width: 1255px) {
                font-size: 16px;
                line-height: 26px;
                padding-left: 16px;
            }
            @media (max-width: 887px) {
                font-size: 15px;
                line-height: 24px;
            }
        }
        &__info{
            display: flex;
            align-items: center;
            padding-left: 23.05px;
            gap: 5.19px;
            padding-bottom: 13.03px;
            @media (max-width: 1255px) {
                gap: 3px;
                padding-left: 16px;
            }
        }
        &__time{
            font-family: "Manrope";
            font-weight: 400;
            font-size: 17.29px;
            line-height: 23.05px;
            color: #8E97A6;
            @media (max-width: 1255px) {
                font-size: 12px;
                line-height: 16px;
            }
        }
        &__rating-score{
            font-family: "Manrope";
            font-weight: 400;
            font-size: 17.29px;
            line-height: 23.05px;
            color: #8E97A6;
            @media (max-width: 1255px) {
                font-size: 12px;
                line-height: 16px;
            }
        }
        &__footer{
            display: flex;
            justify-content: space-between;
        }
        &__price{
            padding-left: 23.05px;
            font-family: "Manrope";
            font-weight: 700;
            font-size: 25.94px;
            line-height: 40.34px;
            color: #323142;
            &--silver{
                color: #8E97A6;
                font-size: 18.81px;
                @media (max-width: 1255px) {
                    font-size: 13px;
                    line-height: 28px;
                    
                }
            }
            @media (max-width: 1255px) {
                font-size: 18px;
                line-height: 28px;
                padding-left: 16px;
            }
        }
        &__button{
            margin: 0px 27.39px 30.29px 0px;
            background-color: #FFFFFF;
            @media (max-width: 887px) {
                margin: 0px 15px 20px 0px;
            }
            cursor: pointer;
            &:hover {
                opacity: 0.2;}
        }
        &__button-icon{
            @media (max-width: 1255px) {
                width: 31px;
            }
            @media (max-width: 887px) {
                width: 28px;
            }
        }
    }
    .dashboard{
        .container{
        display: flex;
        padding-top: 100px;
        justify-content: space-between;
        padding-bottom: 134px;
        border-bottom: 1px solid #CBCBCB;
        @media (max-width: 1255px) {
            gap: 105px;
            padding-bottom: 82px;
            padding-top: 71px;
        }
        @media (max-width: 887px) {
            flex-direction: column;
        }
        }
        &__content{
            @media (max-width: 1255px) {
                width: 100%;
                gap: 105px;
            }
        }
        &__image{
            @media (max-width: 1255px) {
                width: 100%;
            }
        }
        &__title{
            padding-left: 11px;
            padding-bottom: 48px;
            font-family: "Poppins";
            font-weight: 700;
            font-size: 50.92px;
            line-height: 58.2px;
            max-width: 70%;
            @media (max-width: 887px) {
                font-size: 28;
                line-height: 32px;
            }
            &--purple{
                color: #6C5FBC;
            }
            @media (max-width: 1255px) {
                font-size: 36px;
            line-height: 41px;
            min-width: 100%;
            padding-bottom: 34px;
            }
        }
            &__orders{
            display: flex;
            flex-direction: column;
            gap: 15px;
            @media (max-width: 887px) {
                position: relative;
            }
        }  
        .order{
            display: flex;
            border-radius: 12px;
            background-color: #FFFFFF;
            width: 345px;
            align-items: center;
            justify-content: space-between;
            @media (max-width: 1255px) {
                width: 245px;
                height: 62px;
            }
            &__info{
                display: flex;
                gap: 19px;
                align-items: center;
                @media (max-width: 1255px) {
                    padding-left: 12px;
                }
            }
            &__icon{
                padding: 4px 19px 4px 17px;
                @media (max-width: 1255px) {
                    padding: 0;
                }
            }
            &__img{
                @media (max-width: 1255px) {
                    width: 51px;
                    height: 51px;
                }
            }
            &__name{
                font-family: "Poppins";
                font-weight: 600;
                font-size: 19px;
                line-height: 140%;
                color: #323142;
                @media (max-width: 1255px) {
                    font-size: 13px;
                }
            }
            &__status{
                font-family: "Poppins";
                font-weight: 500;
                font-size: 12px;
                line-height: 140%;
                color: #323142;
                @media (max-width: 1255px) {
                    font-size: 8px;
                }
                &--cancelled{
                    color: #F1534E;
                }
            }
            &__time{
                font-family: "Poppins";
                font-weight: 500;
                font-size: 13px;
                line-height: 140%;
                color: #ACADB9;
                padding: 60px 17px 10px 0px;
                @media (max-width: 1255px) {
                    font-size: 9px;
                    padding: 42px 12px 7px 0px;
                }
            }
            &__decor{
                display: none;
                @media (max-width: 887px) {
                    display: inline;
                    width: 101px;
                    position: absolute;
                    top: 200px;
                    right: -40px;
                    transform: rotate(270deg);
                }
            }
        }  
    }
    .customer-say{
        &__title{
            font-family: "Poppins";
            font-weight: 600;
            font-size: 45px;
            line-height: 25px;
            text-align: center;
            padding-top: 116px;
            padding-bottom: 80px;
            @media (max-width: 1255px) {
                padding-top: 88px;
                padding-bottom: 56px;
            }
            @media (max-width: 887px) {
                font-size: 30px;
            line-height: 120%;
            padding: 90px 40px 55px 40px;
            text-align: center;
            }
            &--purple{
                color: #6C5FBC;
            }
        }
        &__carousel{
            display: flex;
            flex-direction: column;
            width:100%;
            border-radius: 21px;
            background-color: #FFFFFF;
        }
        &__block{
            display: flex;
            padding: 38px 49px 32px 43px;
            align-items: center;
            justify-content: space-between;
            @media (max-width: 1255px) {
                padding: 20px 25px 16px 20px;
            }
        }
        &__block-name{
            display: flex;
        }
        &__icon{
            border-radius: 41px;
        }  
        &__details{
            padding: 0px 0px 0px 21px;
        }
        &__name{
            font-family: "Poppins";
            font-weight: 500;
            font-size: 21px;
            line-height: 31px;
            color: #030314;
        }
        &__time{
            font-family: "Quicksand";
            font-weight: 500;
            font-size: 17px;
            line-height: 26px;
        }
        &__text{
            font-family: "Poppins";
            font-weight: 400;
            font-size: 18px;
            line-height: 26px;
            color: #636363;
            font-style: italic;
            padding: 0px 43px;
            @media (max-width: 1255px) {
                font-size: 14px;
            line-height: 18px;
            }
        }
        &__rating{
            padding: 20px 0px;
            padding-left: 43px;
        }        
    }
    .promo-banner{
        background-color: #6C5FBC;
        border-radius: 30px;
        margin-top: 130px;
        position: relative;
        margin-bottom: 154px;
        &__background{
            background-image: url(./svg/background.svg);
        }
        &__content{
            padding: 26px 0px 44px 47px;
            @media (max-width: 887px) {
                padding: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-bottom: 95px;
                margin-top: 79px;
            }
        }
        &__title{
            font-family: "Poppins";
            font-weight: 800;
            font-size: 50px;
            line-height: 100%;
            color: #FFFFFF;
            padding: 15px 0px;
            @media (max-width: 887px) {
                font-size: 41px;
                padding: 35px 0 15px 0;
                text-align: center;
            }
        }
        &__form{
            background-color: #FFFFFF;
            width: fit-content;
            border-radius: 10px;
            display: flex;
            padding: 7px;
            @media (max-width: 887px) {

                text-align: center;
            }
        }
        &__input{
            font-family: "Poppins";
            font-weight: 400;
            font-size: 15px;
            line-height: 100%;
            letter-spacing: 3%;
            color: #878787;
            min-width: 220px;
            @media (max-width: 887px) {
                font-size: 10px;
                min-width: 0;
            }
        }
        &__button{
            padding: 15px 17px 15px 18px;
            font-family: "Poppins";
            font-weight: 500;
            font-size: 11px;
            line-height: 100%;
            letter-spacing: 3%;
            color: #F7F8FA;
            background-color:  #6C5FBC;
            border-radius: 8px;
            height: fit-content;
            @media (max-width: 887px) {
                padding: 10px 16px;
            }
        }
        &__image{
            max-width: 194px;
            position: absolute;
            top: 46px;
            right: 51px;
            @media (max-width: 887px) {
                width: 170px;
                top: 160px;
            }
        }
    }
    .footer{
        background-color: #EAEAEA;
        .container{
            display: flex;
            flex-direction: column;
            @media (max-width: 887px) {
                position: relative;
            }
        }    
        &__top{
            padding-top: 96px;
            padding-bottom: 29px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #CBCBCB;
            @media (max-width: 1255px) {
                padding-top: 68px;
                padding-bottom: 20px;
            }
            @media (max-width: 887px) {
                flex-direction: column;
                align-items: flex-start;
                padding-top: 55px;
                gap: 53px;
            }
        }
        &__logo{
            display: flex;
            gap: 11px;
            background-color: rgb(255, 255, 255);
            @media (max-width: 887px) {
                height: 37px;
            }
        }
        &__logo-link{
            display: flex;
            align-items: center;
            background-color: #EAEAEA;
        }
        &__logo-image{
            @media (max-width: 887px) {
                height: 37px;
            }
        }
        &__logo-text{
            color: #6C5FBC;
            font-size: 29px;
            font-weight: 600;
            line-height: 130%;
            padding-left: 15px;
            font-family: "Poppins";
            vertical-align: middle;
            @media (max-width: 887px) {
                font-size: 18px;
            line-height: 130%;
            padding-left: 9px;
            }
        }
        &__nav-list{
            display: flex;
            gap: 70px;
            @media (max-width: 887px) {
                flex-direction: column;
                gap: 30px;
            }
        }
        &__nav-link{
            font-family: "Inter";
            font-weight: 500;
            font-size: 18px;
            line-height: 27px;
            color: #999999;
            @media (max-width: 1255px) {
                font-size: 12px;
                line-height: 19px;
            }
            @media (max-width: 887px) {
                text-transform: uppercase;
            }
        }
        &__bottom{
            padding-top: 57px;
            padding-bottom: 81px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media (max-width: 1255px) {
                padding-top: 40px;
            padding-bottom: 57px;
            }
            @media (max-width: 887px) {
                justify-content: center;
                padding: 26px 0 36px 0;
            }
        }
        &__copyright{
            font-family: "Inter";
            font-weight: 500;
            font-size: 17px;
            line-height: 25px;
            color: #999999;
            @media (max-width: 1255px) {
                font-size: 12px;
            line-height: 17px;
            }
        }
        &__social{
            display: flex;
            gap: 54px;
            @media (max-width: 1255px) {
                gap: 38px;
            }
            @media (max-width: 887px) {
                position: absolute;
                gap: 20px;
                top: 65px;
                right: 30px;
            }
        }
        &__social-icon{
            color: #081420;
            @media (max-width: 1255px) {
                height: 15px;
            }
            &:hover {
                opacity: 0.5;}
        }
    }
    .swiper-wrapper {
        min-height: 270px;
    }